<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Max Mustermann/IdeaProjects/DarkskyFramework">
        <classes>
            <class name="com.darksky.testng.LoginPageTest">
                <methods>
                    <include name="verifyDisplayHighAndLowTempaerature"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>